#tweets {
  background-color: #ffffff;
  margin: 2em;
  padding: 0px;
}

.tweet .tweet-header {
  display: flex;
  justify-content: space-between;
  background-color: #e0e1e2;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.tweet {
  display: block;
  margin-bottom: 20px;
  border: 1px #babbbc solid;
  border-radius: 5px;

}

.tweet-title {
  padding: 10px;
}

.left p {
  margin: 0;
  font-size: 12px;
}

.tweet .tweet-header h2 {
  margin: 0;
  display: inline-block;
  margin-left: 10px;
}

#leftHeader {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.tweet .tweet-header .avatar {
  display: inline-block;
  margin: 0;
}

#avatar {
  border-radius: 5px;
}

.tweet .tweet-header p {
  color: #babbbc;
  margin-top: 5px;
}

.tweet:hover .right {
  display: inherit;
}

.tweet:hover {
  border: 2px #606060 solid;
  border-radius: 5px;
}

.right {
  display: none

}

.tweet-footer {
  height: 30px;
  border-top: 1px #babbbc solid;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons li {
  display: inline-block;
  margin: 0 5px;
}

ul.icons {
  margin: 0
}

.fa {
  color: #00a087;
}

.fa.fa-heart.liked {
  color: red;
}


